//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}CellModel: CommonCell { }

struct {{ module_info.name }}Model: {{ module_info.name }}CellModel {
    let theme: Theme
    let id: String
	weak var delegate: {{ module_info.name }}CellDelegate?

	func setup(cell: {{ module_info.name }}Cell) {
        cell.id = id
        cell.delegate = delegate
    }
}
