<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.Storyboard.XIB" version="3.0" toolsVersion="15505" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" useTraitCollections="YES" useSafeAreas="YES" colorMatched="YES">
    <device id="retina6_1" orientation="portrait" appearance="light"/>
    <dependencies>
        <deployment identifier="iOS"/>
        <plugIn identifier="com.apple.InterfaceBuilder.IBCocoaTouchPlugin" version="15510"/>
        <capability name="Safe area layout guides" minToolsVersion="9.0"/>
        <capability name="documents saved in the Xcode 8 format" minToolsVersion="8.0"/>
    </dependencies>
    <scenes>
        <!--{{ module_info.name }} View Controller-->
        <scene sceneID="EW9-a9-kUv">
            <objects>
                <viewController storyboardIdentifier="{{ module_info.name }}ViewController" id="8WJ-dS-jfo" customClass="{{ module_info.name }}ViewController" customModule="blagru" customModuleProvider="target" sceneMemberID="viewController">
                    <view key="view" contentMode="scaleToFill" id="npg-gn-elS">
                        <rect key="frame" x="0.0" y="0.0" width="414" height="896"/>
                        <autoresizingMask key="autoresizingMask" widthSizable="YES" heightSizable="YES"/>
                        <subviews>
                            <tableView clipsSubviews="YES" contentMode="scaleToFill" alwaysBounceVertical="YES" dataMode="prototypes" style="plain" separatorStyle="default" rowHeight="-1" estimatedRowHeight="-1" sectionHeaderHeight="28" sectionFooterHeight="28" translatesAutoresizingMaskIntoConstraints="NO" id="Uj2-36-cq9">
                                <rect key="frame" x="0.0" y="0.0" width="414" height="896"/>
                                <color key="backgroundColor" systemColor="systemBackgroundColor" cocoaTouchSystemColor="whiteColor"/>
                            </tableView>
                        </subviews>
                        <color key="backgroundColor" systemColor="systemBackgroundColor" cocoaTouchSystemColor="whiteColor"/>
                        <constraints>
                            <constraint firstItem="Uj2-36-cq9" firstAttribute="leading" secondItem="npg-gn-elS" secondAttribute="leading" id="0gQ-VX-3C9"/>
                            <constraint firstItem="Uj2-36-cq9" firstAttribute="top" secondItem="npg-gn-elS" secondAttribute="top" id="49d-Kc-hgU"/>
                            <constraint firstItem="Uj2-36-cq9" firstAttribute="trailing" secondItem="npg-gn-elS" secondAttribute="trailing" id="Hbx-bC-m3f"/>
                            <constraint firstAttribute="bottom" secondItem="Uj2-36-cq9" secondAttribute="bottom" id="PX5-g5-w3z"/>
                        </constraints>
                        <viewLayoutGuide key="safeArea" id="ZOt-v1-YwD"/>
                    </view>
                    <connections>
                        <outlet property="tableview" destination="Uj2-36-cq9" id="umR-Jg-8rU"/>
                    </connections>
                </viewController>
                <placeholder placeholderIdentifier="IBFirstResponder" id="ZRC-PV-B0v" userLabel="First Responder" customClass="UIResponder" sceneMemberID="firstResponder"/>
            </objects>
            <point key="canvasLocation" x="-14.492753623188406" y="60.9375"/>
        </scene>
    </scenes>
</document>
